In [29]:
# importamos a biblioteca sqlite3, 
# ela já faz parte do Python por isso não foi preciso instalar

import sqlite3

In [30]:
# Criamos uma variável para armazenar o banco de dados chamado produtos.db
produto = 'produtos.db'

# Criar tabelas

In [31]:
# Criamos uma tabela chmada Produtos que está armazenada na variável script_produtos
# A tabela produtos tem os seguintes campos id, nome, preco, categoria e estoque
# Após o nome da categoria adicionamos o tipo do dado, se é chave primária , autoincremento e
# Se é obrigatório
script_produtos = '''CREATE TABLE IF NOT EXISTS Produtos(
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                nome TEXT NOT NULL,
                preco REAL NOT NULL,
                categoria TEXT NOT NULL,
                estoque INTEGER NOT NULL
                );'''

try:
    with sqlite3.connect(produto) as con:
        # Criar um cursor
        cur= con.cursor()

        # Executar o script
        cur.execute(script_produtos)

        # Salvar as alterações no banco de dados 
        con.commit()
        print('Tabela Criada com Sucesso!')
except sqlite3.OperationaError as e:
    print('Erro:', e)

Tabela Criada com Sucesso!

In [32]:
# Verificar se a tabela foi criada
res= cur.execute('SELECT name FROM sqlite_master')
print(res.fetchall()) # retorna uma linha do resultado obtido, tabela
# resultado vem no formato de tupla

[('Produtos',), ('sqlite_sequence',)]

# Consultar tabelas

In [33]:
sql = 'SELECT * FROM Produtos' # Criamos o comando de selecionar tudo 

try:
    with sqlite3.connect(produto) as con:
        #Criar um cursor
        cur = con.cursor()
        #Executar o script
        cur.execute(sql)
        res = cur.fetchall() # retorna uma lista de lista
        print(res)
except sqlite3.OperationalError as e:
    print('Erro: ', e)

[(1, 'Notebook', 3500.0, 'Eletrônicos', 10), (2, 'Smartphone', 2200.0, 'Eletrônicos', 15), (3, 'Geladeira', 4000.0, 'Eletrônicos', 5), (4, 'Camisetas', 59.9, 'Vestuário', 50), (5, 'Cafeteira', 320.0, 'Eletrõnicos', 8)]

# Inserir dados

In [34]:
sql = 'INSERT INTO Produtos (nome,preco,categoria, estoque) VALUES(?,?,?,?)'

try:
    with sqlite3.connect(produto) as con:
        cur = con.cursor()
        cur.execute(sql,('Notebook Dell', 3500.00,'Eletrônicos', 15))
        con.commit() # Para salvar as alterações no banco de dados
except sqlite3.OperationalError as e:
    print('Error:', e)

# Inserir vários dados

In [35]:
# Lista de produtos para inserir
produtos =[
    ('Notebook', 3500.00, 'Eletrônicos', 10),
    ('Smartphone', 2200.00, 'Eletrônicos', 15),
    ('Geladeira', 4000.00, 'Eletrônicos', 5),
    ('Camisetas', 59.90, 'Vestuário', 50),
    ('Cafeteira', 320.00, 'Eletrõnicos', 8)
]

try:
    with sqlite3.connect(produto) as con:
        cur = con.cursor()
        cur.executemany('INSERT INTO Produtos (nome,preco,categoria, estoque) VALUES(?,?,?,?)',produtos)
        con.commit() # Para salvar as alterações no banco de dados
except sqlite3.OperationalError as e:
    print('Error:', e)

In [39]:
# Para verificar se os dados foram inseridos corretamente
res = cur.execute('SELECT nome  FROM produtos')
res.fetchall()

[('Notebook',),
 ('Smartphone',),
 ('Geladeira',),
 ('Camisetas',),
 ('Cafeteira',),
 ('Notebook Dell',),
 ('Notebook',),
 ('Smartphone',),
 ('Geladeira',),
 ('Camisetas',),
 ('Cafeteira',)]

In [43]:
#  Outra maneira para verificar se os dados foram inseridos
for linha in cur.execute('SELECT nome, preco FROM Produtos ORDER BY nome'):
    print(linha)

('Cafeteira', 320.0)
('Cafeteira', 320.0)
('Camisetas', 59.9)
('Camisetas', 59.9)
('Geladeira', 4000.0)
('Geladeira', 4000.0)
('Notebook', 3700.0)
('Notebook', 3500.0)
('Notebook Dell', 3500.0)
('Smartphone', 2200.0)
('Smartphone', 2200.0)

# Atualizar um Registro

In [36]:
sql = 'UPDATE Produtos SET  preco = ? WHERE id = ?'

try:
    with sqlite3.connect(produto) as con:
        cur = con.cursor()
        cur.execute(sql,(3700.00, 1))
        con.commit() # Para salvar as alterações no banco de dados
except sqlite3.OperationalError as e:
    print('Error:', e)

# Deletar registro

In [44]:
sql= 'DELETE FROM Produtos WHERE id = ?'

try:
    with sqlite3.connect(produto) as con:
        cur = con.cursor()
        cur.execute(sql,(1,))
        con.commit() # Para salvar as alterações no banco de dados
except sqlite3.OperationalError as e:
    print('Error:', e)

In [45]:
# Fechar conexão. após concluir precisamos fechar a conexão com o banco de dados
con.close()